[Desktop Entry]
Comment[en_US]=An i3-compatible Wayland compositor
Comment=An i3-compatible Wayland compositor
Exec=/usr/local/bin/swayon
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=Nanamiway
Name=Nanamiway
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
