input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
        numlock
    }

    touchpad {
        tap
        scroll-factor 0.5
        scroll-method "two-finger"
        accel-profile "flat"
        accel-speed 0.0
    }

    mouse {
        accel-profile "flat"
        scroll-factor 0.5
    }

    trackpoint {
        accel-profile "flat"
        accel-speed 0.0
    }

    warp-mouse-to-focus

    mod-key "Alt"
    mod-key-nested "Super"
}

output "eDP-1" {
    mode "1920x1080@60.003"
    scale 1
    transform "normal"
    position x=0 y=0
}

