@udev: { font-family: 'UDEV Gothic NFLG'; }
@noto-cjk: { font-family: 'Noto Sans CJK JP'; }
@migmix: { font-family: 'MigMix 2P'; }
@firge: { font-family: 'FirgeNerd'; }

.sidebar-menu {
    @noto-cjk();
}

.note-list-header {
    @noto-cjk();
}

.note-list-bar-item {
    @noto-cjk();
}

.editor-header-layout {
    @noto-cjk();
}

.editor-meta-layout {
    @noto-cjk();
}

.mde-preview {
    @noto-cjk();
    h1, h2, h3, h4, h5 {
        @noto-cjk();
    }
    code {
        @firge();
    }
    .code-title {
        @firge();
    }
}

