@udev: { font-family: 'UDEV Gothic NFLG'; }
@noto-cjk: { font-family: 'Noto Sans CJK JP'; }
@mplus-code: { font-family: 'Mplus Code 60'; }
@migmix: { font-family: 'MigMix 2P'; }

.sidebar-menu {
    @migmix();
}

.note-list-header {
    @migmix();
}

.note-list-bar-item {
    @migmix();
}

.editor-header-layout {
    @migmix();
}

.editor-meta-layout {
    @migmix();
}

.mde-preview {
    @migmix();
    h1, h2, h3, h4, h5 {
        @migmix();
    }
    code {
        @udev();
    }
    .code-title {
        @udev();
    }
}

