"$schema" = 'https://starship.rs/config-schema.json'
add_newline = true
command_timeout = 5000

format = """
$username$hostname $os $directory$nix_shell$container$git_branch$git_status$rust$cmake$package$status$cmd_duration
$character"""

[directory]
truncation_length = 2
style = "fg:4 italic"

[os]
format = "[on](fg:244) [$symbol]($style)"
style = "fg:12 bold"
disabled = false

[os.symbols]
Windows = " "
Arch = "󰣇 "
Macos = "󰘳 "
Ubuntu = " "
NixOS = " "

[container]
format = '[$symbol ]($style) '

[git_branch]
symbol = '󰘬 '
format = '[$symbol$branch(:$remote_branch)]($style) '

[git_status]
format = '([$all_status$ahead_behind]($style) )'
up_to_date = '[](cyan) '
staged = '[󰐕\($count\)](green) '
ahead = '⇡${count} '
diverged = '⇕⇡${ahead_count}⇣${behind_count} '
behind = '⇣${count} '
stashed = ' '
conflicted = ' '
deleted = '󰮘 '
renamed = '󰪹 '
modified = '󱇧 '
untracked = '󰝒 '

[time]
format = "[$time]($style) "
time_format = "%R"
style = "fg:#e2e2e5 bold"
disabled = false

[cmd_duration]
format = "[$duration]($style) "
style = "fg:14 bold"

[username]
format = "[$user]($style)"
style_user = "fg:12 bold"
show_always = true

[status]
disabled = false

[hostname]
format = "[@](fg:245)[$hostname]($style)"
style = "fg:8 bold"
ssh_only = true

[fill]
symbol = " "

[nix_shell]
format = 'via [$symbol $state( \[$name\])]($style) '
pure_msg = "󱔄"
impure_msg = "󱔌"
symbol = " "
