input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
        numlock
    }

    mouse {
        accel-profile "flat"
    }

    warp-mouse-to-focus

    mod-key "Alt"
    mod-key-nested "Super"
}

output "DP-2" {
    mode "3840x2160@60.000"
    scale 1.25
    transform "normal"
    position x=0 y=0
}

