input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    mouse {
        accel-profile "flat"
        scroll-factor 0.5
    }

    warp-mouse-to-focus

    mod-key "Alt"
    mod-key-nested "Super"
}

